<template>
    <ContentWrapper>
        <div class="content-heading">
            <div>Client Form
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <form-wizard @on-complete="onComplete">
                    <template slot="step" slot-scope="props">
                        <!-- By using a custom header markup we can pass html in title attribute -->
                        <wizard-step
                            :tab="props.tab"
                            @click.native="props.navigateToTab(props.index)"
                            @keyup.enter.native="props.navigateToTab(props.index)"
                            :transition="props.transition"
                            :index="props.index">
                            <span slot="title" :class="{'text-danger':props.tab.validationError}" v-html="props.tab.title"></span>
                        </wizard-step>
                    </template>
                    <!-- Headers -->
                    <tab-content title="<div>Client Information</div>">
                        <b-card class="mb-3 border">

                            <div class="form-group  row">
                                <label for="name" class="">Business Name</label>
                                <input type="text" name="name" id="name" v-model="form.name"
                                       class="form-control m-input m-input--air">
                                <span v-show="form.errors.has('name')"
                                      class="form-control-feedback m--font-danger">Business Name is required.</span>
                            </div>
                            <div class="form-group  row">
                                <label for="url" class="col-form-label">Client Website Url</label>
                                <input type="text" name="url" id="url" v-model="form.current_url"
                                       class="form-control m-input m-input--air">
                            </div>

                            <div class="form-group  row">
                                <label for="email">Client Email
                                    Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                    </div>
                                    <input type="email" name="email" id="email" v-model="form.email"
                                           class="form-control m-input m-input--air">
                                </div>
                            </div>

                            <div class="form-group  row">
                                <label for="address">Address</label>
                                <input type="text" name="address" id="address"
                                       v-model="form.address"
                                       class="form-control m-input m-input--air">
                            </div>
                            <div class="form-group  row">
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" v-model="form.city"
                                       class="form-control m-input m-input--air">
                            </div>
                            <div class="form-group  row">
                                <label>State</label>
                                <multiselect
                                    v-model="form.state"
                                    :options="state_select"
                                    :searchable="true"
                                    :show-labels="false"
                                    placeholder="Pick a State"/>
                            </div>
                            <div class="form-group  row">
                                <label>Zip</label>
                                <masked-input v-model="form.zip" :mask="zipMask"
                                              class="form-control"></masked-input>
                            </div>
                            <div class="form-group  row">
                                <label>Phone</label>
                                <masked-input type="text" class="form-control" placeholder="Phone.."
                                              v-model="form.phone"
                                              :mask="phoneMask"/>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10">

                                    <div class="card">
                                        <div class="card-header">Business Hours</div>
                                        <div class="card-body">
                                            <textarea v-model="form.business_hours" class="form-control" rows="10" cols="20"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </b-card>
                    </tab-content>
                    <tab-content title="<div>Contact Info</div>">
                        <b-card class="mb-3 border">


                            <div class="form-group">
                                <label for="contact_name">Contact Name</label>
                                <input type="text" name="contact_name" id="contact_name" v-model="form.contact_name"
                                       class="form-control">
                                <span v-if="form.errors.has('contact_name')"
                                      class="form-control-feedback ">Contact Name is required.</span>

                            </div>
                            <div class="form-group">
                                <label for="contact_email">Contact Email</label>
                                <input type="email" name="contact_email" id="contact_email" v-model="form.contact_email"
                                       class="form-control">
                                <span v-if="form.errors.has('contact_email')"
                                      class="form-control-feedback">Contact Email is required.</span>

                            </div>
                            <div class="form-group">
                                <label>Contact Number</label>
                                <masked-input :mask="phoneMask" v-model="form.contact_number"
                                              class="form-control"></masked-input>
                                <span v-if="form.errors.has('contact_number')"
                                      class="form-control-feedback">Contact Number is required.</span>

                            </div>
                            <div class="form-group">
                                <label>Contact Number 2</label>
                                <masked-input :mask="phoneMask" v-model="form.contact_number_2"
                                              class="form-control"></masked-input>
                            </div>
                            <div class="form-group">
                                <label>Preferred Contact Method</label>
                                <input type="text" name="contact_method" v-model="form.contact_method"
                                       class="form-control">
                            </div>
                        </b-card>
                    </tab-content>
                    <tab-content title="<div>Basic Marketing</div>">
                        <b-card class="mb-3 border">
                            <div class="form-group">
                                <label>GA UA Code</label>
                                <input type="text" v-model="form.ga_ua_code"
                                       class="form-control m-input m-input--air">
                            </div>
                            <div class="form-group">
                                <label>Objectives</label>
                                <input type="text" v-model="form.objectives"
                                       class="form-control m-input m-input--air">
                            </div>
                            <div class="form-group">
                                <label>What Sets The Client Apart?</label>
                                <input type="text" v-model="form.difference"
                                       class="form-control m-input m-input--air">
                            </div>

                            <div class="form-group">
                                <label>Preliminary Keywords</label>
                                <div class="" v-for="(keyword, keywordIndex) in form.keywords" :key="keywordIndex">
                                    <b-input-group>
                                        <b-form-input v-model="form.keywords[keywordIndex]"></b-form-input>
                                        <b-input-group-append>
                                            <b-btn @click="repeater_add('keywords', '')" variant="success"><i class="fas fa-plus" style="color:white"></i>
                                            </b-btn>
                                            <b-btn v-if="keywordIndex > 0" variant="danger" @click="repeater_remove('keywords', keywordIndex)"><i
                                                class="fas fa-trash" style="color:white"></i></b-btn>
                                        </b-input-group-append>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Competitors</label>
                                <div class="row" v-for="(competitor, competitorIndex) in form.competitors">
                                    <div class="col-6">
                                        <input class="form-control" placeholder="Name" v-model="form.competitors[competitorIndex].name">
                                    </div>
                                    <div class="col-6">
                                        <b-input-group>
                                            <b-form-input placeholder="URL" v-model="form.competitors[competitorIndex].url"></b-form-input>
                                            <b-input-group-append>
                                                <b-btn variant="success" @click="repeater_add('competitors', {name: '', url: ''})"><i class="fas fa-plus"
                                                                                                                                      style="color:white"></i>
                                                </b-btn>
                                                <b-btn v-if="competitorIndex > 0" variant="danger" @click="repeater_remove('competitors', competitorIndex)"><i
                                                    class="fas fa-trash" style="color:white"></i></b-btn>
                                            </b-input-group-append>
                                        </b-input-group>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Geo Targeting</label>
                                <div class="" v-for="(geo_target, geo_targetingIndex) in form.geo_targeting">
                                    <b-input-group>
                                        <b-form-input v-model="form.geo_targeting[geo_targetingIndex]"></b-form-input>
                                        <b-input-group-append>
                                            <b-btn variant="success" @click="repeater_add('geo_targeting', '')"><i class="fas fa-plus" style="color:white"></i>
                                            </b-btn>
                                            <b-btn v-if="geo_targetingIndex > 0" variant="danger" @click="repeater_remove('geo_targeting', geo_targetingIndex)">
                                                <i class="fas fa-trash" style="color:white"></i></b-btn>
                                        </b-input-group-append>
                                    </b-input-group>
                                </div>
                            </div>
                        </b-card>
                    </tab-content>
                    <tab-content title="<div>Additional Data</div>">
                        <b-card class="mb-3 border">
                            <div class="card">
                                <div class="card-header">CMS</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label>Login Url</label>
                                                <input class="form-control" v-model="form.cms_login_url">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input class="form-control" v-model="form.cms_user_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input class="form-control" v-model="form.cms_password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea v-model="form.notes" class="form-control"></textarea>
                            </div>
                        </b-card>
                    </tab-content>
                    <!-- Directions -->
                    <b-btn variant="secondary" slot="prev">Back</b-btn>
                    <b-btn variant="secondary" slot="next">Next</b-btn>
                    <b-btn variant="info" slot="finish">Finish</b-btn>
                </form-wizard>
            </div>
        </div>

    </ContentWrapper>
</template>

<script>
    import {FormWizard, TabContent, WizardStep} from 'vue-form-wizard'
    import MaskedInput from 'vue-text-mask'
    import Multiselect from 'vue-multiselect'
    import swal from 'sweetalert2'

    export default {
        name: "ClientForm",
        data() {
            return {
                form: new Form({
                    name: '',
                    current_url: '',
                    objectives: '',
                    email: '',
                    difference: '',
                    keywords: [
                        ''
                    ],
                    address: '',
                    city: '',
                    state: '',
                    zip: '',
                    phone: '',
                    business_hours: '',
                    geo_targeting: [
                        ''
                    ],
                    competitors: [{
                        name: '',
                        url: '',
                    }],
                    cms_user_name: '',
                    cms_password: '',
                    cms_login_url: '',
                    contact_method: '',
                    ga_ua_code: '',
                    notes: '',
                    contact_number: '',
                    contact_number_2: '',
                    contact_name: '',
                    contact_email: '',

                }),
                config: {
                    format: 'LT',
                    icons: {
                        up: 'fa fa-angle-up',
                        down: 'fa fa-angle-down'
                    }
                },
                phoneMask: ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/],
                zipMask: [/\d/, /\d/, /\d/, /\d/, /\d/],

                state_select: ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
            }


        },
        components: {
            FormWizard,
            TabContent,
            WizardStep,
            MaskedInput,
            Multiselect
        },
        mounted() {
            if (this.$route.params.slug) {
                this.getClientData()
            }
        },
        methods: {
            onComplete: function () {
                if (this.$route.params.slug) {
                    this.form.patch('api/client/' + this.$route.params.slug)
                        .then(function (res) {
                            swal({
                                title: 'Success!',
                                type: 'success'
                            })
                        })
                        .catch(function (res) {
                            swal({
                                title: 'Error!',
                                tpye: 'error'
                            });
                        })
                } else {
                    this.form.post('api/client')
                        .then(function (res) {
                            swal({
                                title: 'Success!',
                                type: 'success'
                            })
                        })
                        .catch(function (res) {
                            swal({
                                title: 'Error!',
                                tpye: 'error'
                            });
                        })
                }
            },
            repeater_add(field, data) {
                this.form[field].push(data);
            },
            repeater_remove(field, index) {
                this.form[field].splice(index, 1);
            },
            getClientData() {
                let self = this
                axios.get('/api/client/' + this.$route.params.slug)
                    .then(function (res) {
                        for (let field in res.data) {
                            if (field in self.form && field != 'status') {
                                self.form[field] = res.data[field]
                            }
                        }
                    })
                    .catch(function (res) {
                        swal({
                            title: 'Error!',
                            type: 'error'
                        })
                    })
            }
        }
    }
</script>

<style src="vue-form-wizard/dist/vue-form-wizard.min.css"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

